@tailwind base;
@tailwind components;
@tailwind utilities;

/* Notfound */
bl_wrapper {
    margin: 10px auto;
    max-width: 60vw;
  }
  
  #svg_tramp {
    display: block;
    height: 90vh;
    margin: -30px auto 0;
  }
  
  .btn_home {
    position: relative;
    display: block;
    width: 120px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #be6440;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s all;
    z-index: 3;
  }
  
  .btn_home:hover,
  .btn_home:focus {
    transition: 0.2s all;
    color: #fff;
    background-color: #f00;
  }
  
  .text_forgiveness {
    font-size: 20px;
    font-family: "Permanent Marker", cursive;
    stroke: #525250;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #be6440;
  }
  
  .st4 {
    fill: #4a687d;
  }
  
  .st6 {
    fill: #b0b0b0;
  }
  
  .st7 {
    fill: #ecba9d;
  }
  
  .st10 {
    fill: #a34426;
  }
  
  .st13 {
    fill: #eceaea;
  }
  
  .st15 {
    fill: #384f64;
  }
  
  .st24 {
    fill: #a74929;
  }
  
  .st25 {
    fill: #903820;
  }
  
  .st34 {
    fill: #545454;
  }
  
  .st35 {
    fill: #8d361f;
  }
  
  .st38 {
    fill: #ccd0d3;
  }
  
  .st39 {
    fill: #cacfd1;
  }
  
  .st40 {
    fill: #caced1;
  }
  
  .st43 {
    fill: #b8c0c4;
  }
  
  .st44 {
    fill: #b9c0c5;
  }
  
  .st49 {
    fill: #b9c0c4;
  }
  
  .st55 {
    fill: #b8c0c3;
  }
  
  .st60 {
    fill: #2e3192;
  }
  
  .st61 {
    fill: none;
    stroke: #c1bfc0;
    stroke-miterlimit: 10;
  }
  
  .st62 {
    fill: #525250;
  }
  
  .aboutMe a {
    display: block;
    width: 30%;
    position: fixed;
    bottom: 0.1%;
    left: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
/* Notfound */

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.menu li{
    margin: 0 15px;
    font-weight: 700;
}

.menu li:hover{
    color: red;
    transition: all 0.5s;
    cursor: pointer;
}

.detail{
    display: flex;
    padding: 78px 0;
}
.detail .image{
    max-width: 30%;
    flex: 0 0 30%;
}
.detail .text{
    max-width: 40%;
    flex: 0 0 40%;
    background-color: #ffc8dd;
    padding: 20px;
    border-radius: 16px;
}

.detail .text h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.detail .danhGia{
    max-width: 30%;
    flex: 0 0 30%;
    background-color: #ffc8dd;
    padding: 20px;
    border-radius: 16px;
    margin-left: 20px;
}

.detail .image img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    object-position: top;
}

@media only screen and (max-width: 768px){
  .container{
    width: 90%;
  }
}

.icon a img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}